<p>Home Page</p>
<img src="http://www.funnypoon.com/wp-content/uploads/2012/12/Villages-view-of-Bikes-Funny.jpg" />

<form action="/logout" method="get">
<input type="submit" value="Log Out">
</form>
