<div class="container">
  <h1>Welcome Chicago Bicycle Race Fans!</h1>

  <!-- This is a link to the create profile page -->
  <a href="/create_user">Sign up to join the race!</a>

  <!-- This form allows a user to log in -->
  <h1>Sign in</h1>
  <form action="/login" method="post">
    <label>email     </label>
    <input type="text" name="email">
    <br><br>
    <label>password</label>
    <input type="text" name="password">
    <br><br>
    <input type="submit" value="log in!">
  
  </form>

</div>
