<div class="container">
  <h1>Input a twitter username: </h1>

  <form method="post" action="/user">
    <input type="text" placeholder="username" name="username">
    <input type="submit" value="get tweets">
  </form>
</div>
