<h2>Login</h2>
<% if @error1 %>
  <p><%= @error1 %></p>
<% end %> 

<form name="login" action="/login" method="post">
<input type="text" name="username" placeholder="Username" required = true autofocus>
<input type="password" name="password" placeholder="Password" required = true>
<p><input type="submit" value="Login"></p>
</form>




<h2>Signup</h2>
<% if @error2 %>
  <p><%= @error2 %></p>
<% end %>  

<form name="signup" action="/signup" method="post">
<p><input type="text" name="firstname" placeholder="First Name"></p>
<p><input type="text" name="lastname" placeholder="Last Name" required = true></p>
<p><input type="text" name="email" placeholder="E-Mail" required = true></p>
<p><input type="text" name="username" placeholder="Username" required = true></p>
<p><input type="password" name="password1" placeholder="Password" required = true></p>
<p><input type="password" name="password2" placeholder="Retype Password" required = true></p>
<p><input type="submit" value="Signup"></p>
</form>

<%if @user%>
  <%@user.errors.each do |error, message|%>
    <h5><%=message%></h5>
  <%end%>
<%end%>  
