<div class="container">

<h1>Welcome back!</h1>

</div>

<br>

<%= erb :_url %> 

<%= erb :_shortened %>

<form action="/logout" method="get">
  <input class="button" type="submit" value="Log Out">
</form>


