<div class="newpost">


<form action="/create" method="post"> 

  <h1> new post </h1>

  <input type="text" name="post[title]" placeholder="my sweet blog post">

  <input type="text" name="post[author]" placeholder="henry david thoreau">

  <textarea rows="20" cols="50" name="post[content]"></textarea>

  <input type="text" id="tagged_list" name="post[tag_list]" placeholder="tag1 tag2 tag3 etc.">

  <input id="button" type="submit" value="publish"> 

</form>

</div>
